@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-image: url("https://media.githubusercontent.com/media/zuki2610/desafio_3_5_isabel_palacios/main/assets/img/bgisa.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.title {
    font-family: 'Pacifico', cursive;
    color: rgb(233, 180, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    line-height: 30px;
}

.undertitle {
    font-family: 'Pacifico', cursive;
    color: rgb(248, 223, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5vh;
    line-height: 30px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    line-height: 30px;
}

.week {
    font-family: 'Pacifico', cursive;
    color: rgb(233, 180, 247);
    text-align: start;
    font-size: 32px;
    padding-top: 2vh;
    text-align: center;
    border-bottom: 2px solid rgb(224, 169, 178);
}

.week2 {
    font-family: 'Pacifico', cursive;
    color: rgb(243, 221, 249);
    font-size: 32px;
    padding-top: 1vh;
    border-bottom: 2px solid rgb(237, 208, 213);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
}

.container {
    border: 3px solid rgb(224, 169, 178);
    border-radius: 2rem;
    box-shadow: 0 0 95px gray;
    margin-top: 7vh;
    padding: 4.5vh;

}

i {
    font-size: 32px;
    text-align: center;

}

.tarea {
    font-family: 'Pacifico', cursive;
    color: rgb(233, 180, 247);
    text-align: center;
    font-size: 32px;
    text-align: center;
    border-bottom: 2px solid rgb(224, 169, 178);
}

.task {
    font-family: 'Pacifico', cursive;
    color: rgb(238, 211, 246);
    text-align: center;
    font-size: 32px;
    text-align: center;
}

.task2 {
    font-family: 'manrope', sans-serif;
    color: rgba(254, 218, 249, 0.985);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    color: rgb(233, 180, 247);
    text-align: center;
    font-size: 14px;
    text-align: center;
    width: 12vw;
    display: none;

}

.display {
    display: block;
    width: 12vw;
}

.tarea {
    color: rgb(233, 180, 247);
    text-align: center;
    font-size: 20px;
    padding-top: 1vh;
    text-align: center;
    width: 12vw;
    font-family: 'Kanit', sans-serif;
    display: flex;
}

.acciones {
    display: flex;
    flex-direction: column;
}